/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #693800; }
.My-Color-Theme-2-hex { color: #EC9F47; }
.My-Color-Theme-3-hex { color: #E87C00; }
.My-Color-Theme-4-hex { color: #69461F; }
.My-Color-Theme-5-hex { color: #B56100; }


/**Header*/
.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #1A2A36;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #E87C00;
}

/**Main*/
.col-sm-5 {
    margin: 3rem 1.5rem;
}

.portfolio-img {
    position: relative;
}

.portfolio-img::before,
.portfolio-img::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    background: #E87C00;
    transition: .5s;
}

.portfolio-img::before {
    left: 50%;
}

.portfolio-img::after {
    right: 50%;
}

.portfolio-item:hover .portfolio-img::before {
    width: 51%;
    left: 0;
}

.portfolio-item:hover .portfolio-img::after {
    width: 51%;
    right: 0;
}

.portfolio-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    transition-delay: .3s;
}


/**Footer*/
footer div {
    color: #fff;
    background-color: #1A2A36;
    list-style: none;
    font-size: large;
}